.containerI{
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10x;
    height: 100%;
    width: 100%;
  }

  .lineI{
    border: 1px solid #B773AE;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    width: 80%;
  }

  

  .goBack{
    position: absolute;
    top: 30px;
    right: 50px;
  }

  @media (min-width: 992px) {
    .lineI{
      width: 90%;
    }

    .goBack{
      top: 80px;
      right: 80px;
      font-size: 30px;
    }

    .imgG{
      height: 200px;
    }

    .descripI{
      font-size: 40px;
      margin-top: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .goBack{
      top: 35px;
      right: 85px;
      font-size: 30px;
    }

    .rowsI{
      display: flex;
      flex-direction: row;
    }

    .SecondI{
      margin-left: 30px;
    }

    .ThirdI{
      margin-left: 30px;
    }
  }