body {
  overflow-x: hidden;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.head-form {
  display: flex;
  justify-content: center;
  margin: 40px;
  color: #15277b;
  font-weight: bold;
}

.inputs-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-form-container fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
}

.form-input {
  background-color: #e6eaf1;
  border-radius: 25px;
}

.col-auto {
  padding-right: 0;
}

.modified-select {
  background-color: #e6eaf1;
  border-radius: 25px;
}

.fieldset-label-modified {
  color: #15277b;
}

.continue-button-modified {
  background-color: #2fb9cf;
  border-color: rgb(46, 162, 180);
  border-radius: 25px;
  width: 257px;
  justify-content: center;
}

.col-sm-10 {
  justify-content: space-evenly;
  display: flex;
}

.col-1200-66,
.col-1200-50,
.col-1200-33,
.col-992-66,
.col-992-50,
.col-992-33,
.col-768-66,
.col-768-50,
.col-768-33,
.col-576-66,
.col-576-50,
.col-576-33 {
  position: relative;

  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-576-66 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-576-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-576-33 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-768-66 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-768-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-768-33 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .form-container {
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .head-form {
    display: flex;
    justify-content: center;
    margin: 80px;
    color: #1e36a6;
    font-size: 20px;
  }

  .form-input {
    width: 400px;
    font-size: 20px;
  }

  .container-input-modified {
    width: 400px;
  }

  .form-input-w-h {
    width: 170px;
  }

  .inputs-form-container fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .col-auto {
    padding-right: 0;
  }

  .modified-select {
    width: 150px;
    font-size: 20px;
  }

  .fieldset-label-modified {
    margin-top: 30px;
    display: flex;
    align-items: inherit;
    justify-content: space-evenly;
  }

  .continue-button-modified {
    margin: 30px 100px 0 0;
    font-size: 20px;
  }

  .col-sm-10 {
    justify-content: space-evenly;
    display: flex;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-992-66 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-992-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-992-33 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("../../img/image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }

  .container {
    max-width: 1440px;
  }
  .col-1200-66 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-1200-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-1200-33 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }

  .form-input {
    width: 700px;
    font-size: 20px;
  }

  .container-input-modified {
    width: 700px;
  }

  .form-input-w-h {
    width: 170px;
  }

  .fieldset-label-modified {
    margin-top: 30px;
    display: flex;
    align-items: inherit;
    justify-content: space-evenly;
    width: 360px;
    font-size: 18px;
    background-color: #dededeab;
  }

  .container-button-modified {
    justify-content: center;
    margin-left: 150px;
  }

  .modified-select {
    width: 700px;
    font-size: 20px;
  }
}
